<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Domojo</title>
  <meta name="theme-color" content="#0f0f0f">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="../../static/assets/styles/main.css">
  <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>
 <section class="screen active" id="home">
    <header class="top">
      <h1>Domojo</h1>
      <p>Find trusted domestic workers</p>
    </header>
</section>
{% block content %}

{% endblock %}
<nav class="nav">
  <a href="index.html" class="active">🏠HOME</a>
  <a href="search.html">🔍SEARCH</a>
  <a href="messages.html">💬MESSAGES</a>
  <a href="profile.html">👤PROFILE</a>
</nav>
<script src="../../static/assets/styles/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>