<!DOCTYPE html>
<html lang="en">
   <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Messages – Domojo</title>
  <link rel="stylesheet" href="../../static/assets/styles/main.css">
  <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/bootstrap.css">
</head>
<body>


<nav class="nav">
    <a href="index.html">🏠HOME</a>
    <a href="search.html">🔍SEARCH</a>
    <a href="messages.html" class="active">💬MESSAGES</a>
    <a href="profile.html">👤PROFILE</a>
  </nav>
</body>
</html>